<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration   
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 进行Mybatis的相应的环境的属性定义 -->
	<settings>	<!-- 在本项目之中开启二级缓存 -->
		<setting name="cacheEnabled" value="true"/>
	</settings>
	<!-- 为所有的VO类定义别名， 这样就可以方便不同的配置文件中针对于VO的访问 -->
	<typeAliases>
 		<!-- <typeAlias type="cn.ymq.vo.Member" alias="Member"/> -->
 		<package name="cn.ymq.vo"/>
	</typeAliases>
	<!-- 所有的映射文件的配置信息都要求在此处进行定义 -->
	<!-- 映射文件信息 -->
	<!-- <mappers>									
		<mapper resource="cn/ymq/vo/mapping/Member.xml" />
	</mappers>
	 -->
</configuration>